{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    <a href="https://hal.inria.fr/tel-01648968/document">
    	<img src="{{ $.Site.BaseURL }}img/phd_title.png" width="60%" />
    </a>
    {{ with $page.Params.subtitle }}<p style="vertical-align: middle;">{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8" itemprop="description">
	  {{ $page.Content | markdownify }}
  </div>	      
</div>
